
.sleeve{
    height:100px;
    width:100%;
    margin:5px;
}

p.card{
    font-size: 100px;
    display: inline-block;
    margin: 0px;
    line-height: 100px; /*Used to remove extra spacing above and below the cards*/
    height: 96px;
}

p.card:hover{
    color:aqua;
    cursor: none;
}


/*Desktop*/
@media only screen and (min-width:600px){

    .sleeve{
        height: 200px;
        width: 90%
    }

    p.card{
        font-size: 100px;
    }

}